<div class="modal-header">
  <h4 class="modal-title">Edit your Transaction</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="transaction">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <div class="form-group col-4">
        <label for="date">Date</label>
        <div class="input-group">
          <input class="form-control" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="./../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>
      </div>
      <div class="form-group col-8">
        <label for="description">Description</label>
        <input type="text" class="form-control" formControlName="description">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-4 ">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" formControlName="amount">
      </div>
      <div class="form-group col-8">
        <label for="account">Account</label>
        <select class="form-control" formControlName="account_id">
          <option selected value="">Choose..</option>
          <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="note">Note</label>
        <textarea class="form-control" id="note" rows="5" formControlName="note"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-lg btn-block">Save</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
</div>
