<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Transactions</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a [routerLink]="['/transactions','new']" routerLinkActive="active" class="btn btn-sm btn-outline-secondary">New</a>
      <a [routerLink]="['/categories']" class="btn btn-sm btn-outline-dark">Category</a>
      <a [routerLink]="['/status']" class="btn btn-sm btn-outline-dark">Status</a>
      <a [routerLink]="['/types']" class="btn btn-sm btn-outline-dark">Types</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>